.sidebarL {
    grid-area: sidebarL;
}

.sidebarR {
    grid-area: sidebarR;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-areas: "header" "sidebarL" "content" "sidebarR" "footer";
}

@media screen and (min-width: 320px) {
    .wrapper {
        grid-template-areas: 
        "header header header"
        "sidebarL sidebarL sidebarL" 
        "content content content" 
        "sidebarR sidebarR sidebarR" 
        "footer footer footer";
    }
}

@media screen and (min-width: 576px) {
    .wrapper {
        grid-template-columns: 20% 60%;
        grid-template-areas:
         "header header header"
         "sidebarL content sidebarR"
         "footer footer footer";
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        grid-template-areas: 
        "header header header"
        "sidebarL content sidebarR" 
        "sidebarL footer sidebarR";
    }
}

.box,
header,
footer {
    background-color: #ffdc9c;
    padding: 10px;
}

.box{
    margin: 5px
}

.sidebarL {
    background-color: deepskyblue;
}
.content {
    background-color: brown;
    color: white;
}

a {
    color: olive;
    text-decoration: none;
}

li :hover {
    color: royalblue;
}
